<h3>User Sign In:</h3>
<div class='ui blue segment'>
    <%= form_for @user, url: signin_path, method: :post do |f| %>

        <%= f.label :username %>
        <%= f.text_field :username %><br><br>

        <%= f.label :email %>
        <%= f.text_field :email %><br><br>

        <%= f.label :password %>
        <%= f.password_field :password, id: "password" %><br><br>

        <%= f.label :admin %>
        <%= f.check_box :admin %><br><br>

        <%= f.submit "Sign In" %>
    <% end %>
</div>