
<% if @task.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@task.errors.count, "error") %>prohibited this task from being saved: </h2>
        <ul>
            <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<div class='ui blue segment new-task-seg'>
    <%= form_for @task do |f| %>

        <%= f.hidden_field :schedule_id, value: @task.schedule.id  %>

        <%= f.label :name %>
        <%= f.text_field :name %><br><br>

        <%= f.label :Company %>
        <%= f.collection_select :company_id, current_user.companies.all, :id, :company_name, include_blank: true %><br><br>

        <%= f.label :task_type %>
        <%= f.text_field :task_type %><br><br>

        <%= f.label :Description %>
        <%= f.text_field :notes %><br><br>

        <%= f.label :start_time %>
        <%= f.datetime_select(:start_time, :ampm => true) %><br><br>
        
        <%= f.label :end_time %>
        <%= f.datetime_select(:end_time, ampm: true, include_blank: true) %><br><br>

        <%= f.label :status %>
        <%= f.text_field :status %><br><br>

        <%= f.submit 'Submit' %>
    <% end %>
</div>