<h3><%= @task.schedule.user.username %></h3> 

<h3><%= @task.schedule.name %></h3>
<h4>Task for <%= @task.company.company_name %></h4>

    <p>Task: <%= @task.name %></p>

    <p>Type: <%= @task.task_type %></p>
    <h4>Description: <%= @task.notes %></h4><br>
    <p>Date of Task: <%= @task.date.strftime("%A %d %b %Y %l:%M %p") %></p>
    <% if @task.deadline != nil %>
        <p>Deadline: <%= @task.deadline.strftime("%A %d %b %Y %l:%M %p") %></p>
    <% end %>
    <p>Status: <%= @task.status %></p>


    <div class='ui button'>
        <%= link_to 'Edit Task', edit_task_path(@task) %>
    </div>

    <div class='ui button'>
        <%= link_to 'Delete Task', @task, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>

