<h3><%= @task.schedule.user.username %></h3> 

<h3><%= @task.schedule.name %></h3>
<h4>Task for <%= @task.company.company_name %></h4>

<p>Task: <%= @task.name %></p>

<p>Type: <%= @task.task_type %></p>
<p>Description: <%= @task.notes %></p>
<p>Date of Task: <%= @task.date.strftime("%A %d %b %Y %l:%M %p") %></p>
<p>Deadline: <%= @task.deadline.strftime("%A %d %b %Y %l:%M %p") %></p>
<p>Status: <%= @task.status %></p>



<h3>Edit this task: <%= link_to @task.name, edit_task_path(@task) %></h3>

<%= link_to 'Delete Task', @task, method: :delete, data: { confirm: "Are you sure?" } %>

