<% if @user.image %>
    <img src=<%= @user.image %>/>
<% end %>

<h3>Welcome <%= @user.username %></h3>

    <p><%= current_date %></p>

    <h4>Your Day:</h4>

        <div class='ui blue segment'>
            <%= calendar number_of_days: 1, events: @user.tasks do |date, tasks| %>
                <%= date.day %>
                <% tasks.each do |task| %>
                    <div>
                    <%= link_to task.name, task_path(task) %> -
                    <%= task.start_time.strftime("%l:%M %p") %> - <%= task.end_time.strftime("%l:%M %p") %>
                    </div>
                <% end %>
            <% end %>
        </div>

        <% if logged_in? %>
            <div class='ui button'>
                <%= link_to 'Create Schedule', new_schedule_path %><br> 
            </div>
            <div class='ui button'>
                <%= link_to 'Your Schedules', schedules_path %>
            </div>
        <% end %>
        
        <h4>Companies:</h4>

        <div class='ui blue segment'>
            <ul>
                <h4>Search Companies:</h4>
                <%= form_tag("/companies", method: "get") do %>
                    <%= select_tag :company_type, options_for_select(Company.type, params[:company_type]), include_blank: true %>
                    <%= submit_tag "Search" %>
                <% end %>
            </ul>
            <div class='mini ui button'>
                <%= link_to 'All', companies_path(@user.companies) %>
            </div>
        </div>

        <% if logged_in? %>
            <div class='ui button'>
                <%= link_to 'Edit User', edit_user_path %><br> 
            </div>
            <div class='ui button'>
                <%= link_to 'Create Company', new_company_path %><br>
            </div>                    
        <% end %>

        <% if current_user.admin %>
            <div class='ui button'>
                <%= link_to 'All Users', users_path %>
            </div><br><br>            
        <% end %>
        
        <% if current_user.admin %>            
            <p>Admin: <%= @user.admin %></p>
        <% end %>

   

  

    

    

