<% if @user.image %>
    <img src=<%= @user.image %>/>
<% end %>

<h2>Welcome <%= @user.username %></h2>

    <p><%= current_date %></p>
    <p>Admin: <%= @user.admin %></p>

    <h4>Your work schedule for today:</h4>

        <div class='ui blue segment'>
            <ul>
                <% sort_user_tasks.each do |task| %>
                    <% if task.date.strftime("%A %d %b %Y") == current_date %>
                        <li><%= task.date.strftime("%A %d %b %Y %l:%M %p") %></li>
                        <%= link_to task.name, task_path(task) %><br><br>
                    <% end %>                       
                <% end %>
            </ul>
        </div>   

        <h4>Companies:</h4>

        <div class='ui blue segment'>
            <ul>
                <h4>Search Companies:</h4>
                <%= form_tag("/companies", method: "get") do %>
                    <%= select_tag :company_type, options_for_select(Company.type, params[:company_type]), include_blank: true %>
                    <%= submit_tag "Search" %>
                <% end %>
            </ul>
        </div>

        <% if logged_in? %>
            <div class='ui button'>
                <%= link_to 'Edit User', edit_user_path %><br> 
            </div>
            <div class='ui button'>
                <%= link_to 'Create Company', new_company_path %><br>
            </div>
            <div class='ui button'>
                <%= link_to 'Create Schedule', new_schedule_path %><br> 
            </div>
            <div class='ui button'>
                <%= link_to 'View Schedules', schedules_path(@user.schedules) %>
            </div>
        <% end %>

   

  

    

    

