

<% if @user.image %>
    <img src=<%= @user.image %>/>
<% end %>

<h2>Welcome <%= @user.username %></h2>

<p><%= current_datetime %></p><br>

<p>Admin: <%= @user.admin %></p>




    <% if logged_in? %>
        <%= link_to 'Edit User', edit_user_path %><br> 
    <% end %>

    <% if logged_in? %>
        <%= link_to 'Create Company', new_company_path %><br>
    <% end %>

   

    <% if logged_in? %>
        <%= link_to 'Create Schedule', new_schedule_path %><br> 
    <% end %>

   

  

    

    

