<h2>Welcome <%= @user.username %></h2>

<h3>Your Email Address is <%= @user.email %><br><br> 

    <% if logged_in? %>
        <%= link_to 'Log Out', logout_path, method: 'post' %><br>
    <% end %> 

    <% if logged_in? %>
        <%= link_to 'Home', root_path %><br>
    <% end %> 

    <% if logged_in? %>
        <%= link_to 'Edit User', edit_user_path %><br> 
    <% end %>

    <% if logged_in? %>
        <%= link_to 'Create Contact', new_contact_path %><br> 
    <% end %>

    <% if logged_in? %>
        <%= link_to 'Contacts', contacts_path %><br> 
    <% end %>

    <ul>
        <%= @user.contacts.each do |con| %>
            <li><%= link_to con.name, contact_path(con) %></li>
        <% end %>
    </ul>

