<h3>Welcome <%= @user.username %></h3>

    <p><%= current_datetime %></p>
    
    <% if @user.image %>     
        <div class='ui blue card user-photo-card'>
            <div class='image'>
                <img src=<%= asset_path(@user.image) %> />
            </div>
        </div>
    <% end %>

        <% @user.schedules.each do |schedule| %>
            <% if schedule.name == 'My Work Schedule' %>
                <% @sched = schedule %>
            <% end %>
        <% end %>

        <% if @sched %>
            <%= form_for @sched, :url => url_for(:controller => 'schedules', :action => 'switch_cal_view') do |f| %>   
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :id, value: @sched.id %><br><br>

                <%= f.label :schedule_type, 'View Schedule Type' %>
                <%= f.select(:schedule_type, ['Daily', 'Weekly']) %>
            
                <%= f.submit 'Switch' %>
            <% end %>
                    

            <% if @sched.schedule_type == 'Daily' %>
            
                <div class='ui blue segment calendar-seg'>
                    <%= calendar number_of_days: 1, events: @sched.tasks do |date, tasks| %>
                        <%= date.day %>
                        <% tasks.each do |task| %>
                            <div>
                                <%= link_to task.name, task_path(task) %> - <%= task.start_time.strftime("%l:%M %p") %>                                         
                            </div>
                        <% end %>
                    <% end %>
                </div>

            <% elsif @sched.schedule_type == 'Weekly' %>
                
                <div class='ui blue segment'>
                    <%= week_calendar events: @sched.tasks do |date, tasks| %>
                        <%= date.day %>
                        <% tasks.each do |task| %>
                            <div>
                                <%= link_to task.name, task_path(task) %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        <% end %>

        <% if logged_in? %>
            <div class='ui button'>
                <%= link_to 'New Schedule', new_schedule_path %><br> 
            </div>
            <% if @schedule %>
            <div class='ui button'>
                <%= link_to 'New Event', new_schedule_task_path(@sched) %>
            </div>
            <% end %>
            <div class='ui button'>
                <%= link_to 'Your Schedules', schedules_path %>
            </div>           
        <% end %>

        <div class='ui blue segment company-seg'>
            <div class='ui grid'>
                <div class='six wide column'>
                    <h4>Search Companies:</h4>
                    <%= form_tag("/companies", method: "get") do %>
                        <%= select_tag :company_type, options_for_select(Company.type, params[:company_type]), include_blank: true %>
                        <%= submit_tag "Search" %>
                    <% end %><br>
                
                    <div class='mini ui button'>
                        <%= link_to 'All', companies_path(@user.companies) %>
                    </div>
                </div>
                <div class='six wide column'>
                    <h4>Search Contacts:</h4>
                    <%= form_tag("/contacts", method: "get") do %>
                        <%= select_tag :contact_type, options_for_select(Contact.type, params[:contact_type]), include_blank: true %>
                        <%= submit_tag "Search" %>
                    <% end %><br>
                
                    <div class='mini ui button'>
                        <%= link_to 'All', contacts_path(@user.contacts) %>
                    </div>
                </div>
            </div>
        </div>

        <% if logged_in? %>
            <div class='ui button'>
                <%= link_to 'Edit User', edit_user_path %><br> 
            </div>
            <div class='ui button'>
                <%= link_to 'New Company', new_company_path %><br>
            </div>                    
        <% end %>

        <% if current_user.admin %>
            <div class='ui button'>
                <%= link_to 'All Users', users_path %>
            </div><br><br>            
        <% end %>
        
        <% if current_user.admin %>            
            <p>Admin: <%= @user.admin %></p>
        <% end %>


   

  

    

    

