<h3><%= @schedule.user.username %></h3>

    <span><%= current_date %></span>

    <% if @schedule.user.image %>
        <div class='ui blue card sched-photo-card'>
            <div class='image'>
                <img src=<%= asset_path(@schedule.user.image) %> />
            </div>
        </div>
    <% end %>
 
    <%= form_for @schedule do |f| %>   
        <%= f.hidden_field :user_id, value: current_user.id %><br><br>

        <%= f.label :schedule_type, 'View Schedule Type' %>
        <%= f.select(:schedule_type, Schedule.type) %>
    
        <%= f.submit 'Switch' %>
    <% end %>

    <% if @schedule.schedule_type == 'Daily' %>

        <h4><%= @schedule.name %></h4>
            <div class='ui blue segment calendar'>
                <%= calendar number_of_days: 1, events: @schedule.tasks do |date, tasks| %>
                    <%= date.day %>
                    <% tasks.each do |task| %>
                        <div>
                            <%= link_to task.name, task_path(task) %> - <%= task.start_time.strftime("%l:%M %p") %>                                         
                        </div>
                    <% end %>
                <% end %>
            </div>

    <% elsif @schedule.schedule_type == 'Weekly' %>

        <h4><%= @schedule.name %></h4>  
            <div class='ui blue segment'>
                <%= week_calendar events: @schedule.tasks do |date, tasks| %>
                    <%= date.day %>
                    <% tasks.each do |task| %>
                        <div>
                            <%= link_to task.name, task_path(task) %>
                        </div>
                    <% end %>
                <% end %>
            </div>

    <% elsif @schedule.schedule_type == 'Monthly' %>

        <h4><%= @schedule.name %></h4>  
            <div class='ui blue segment'>
                <%= month_calendar events: @schedule.tasks do |date, tasks| %>
                    <%= date.day %>
                    <% tasks.each do |task| %>
                        <div>
                            <%= link_to task.name, task_path(task) %>
                        </div>
                    <% end %>
                <% end %>
            </div>
    <% end %>

    <% if logged_in? %>           
        <div class='ui button'>
            <%= link_to 'Edit Schedule', edit_schedule_path(@schedule) %>
        </div>
        <div class='ui button'>
            <%= link_to 'Create Event', new_schedule_task_path(@schedule) %>
        </div>
        <div class='ui button'>
                <%= link_to 'Back To Schedules', schedules_path %>
            </div> 
        <div class='ui button'>
            <%= link_to 'Delete Schedule', @schedule, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    <% end %>
             


