<h3>Schedule for <%= @schedule.user.username %></h3>

    <h4><%= current_date %></h4>

    <h4>Schedule for: <%= @schedule.name %></h4>

        <h4>Schedule Type: <%= @schedule.schedule_type %></h4>

        <h4>Tasks:</h4> 

            <div class="ui blue segment">
                <ul>
                    <% sort_tasks(@schedule).each do |task| %>
                        <li><%= task.date.strftime("%A %d %b %Y %l:%M %p") %></li>
                        <%= link_to task.name, task_path(task) %><br><br>                       
                    <% end %>
                </ul>
            </div><br>

    <% if logged_in? %>           
        <button class='ui button'>
            <%= link_to 'Edit Schedule', edit_schedule_path(@schedule) %>
        </button>
        <button class='ui button'>
            <%= link_to 'Create Task', new_schedule_task_path(@schedule) %>
        </button>
        <div class='ui button'>
            <%= link_to 'Delete Schedule', @schedule, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    <% end %>
             


