<h3><%= @schedule.user.username %></h3>

    <h4><%= current_date %></h4>

    <% if @schedule.schedule_type == 'Weekly' %>

        <h4><%= @schedule.name %></h4>  
            <div class='ui blue segment'>
                <%= week_calendar events: @schedule.tasks do |date, tasks| %>
                    <%= date.day %>
                    <% tasks.each do |task| %>
                        <div>
                            <%= link_to task.name, task_path(task) %>
                        </div>
                    <% end %>
                <% end %>
            </div>
            
    <% elsif @schedule.schedule_type == 'monthly' %>

        <h4><%= @schedule.name %></h4>  
        <div class='ui blue segment'>
            <%= month_calendar events: @schedule.tasks do |date, tasks| %>
                <%= date.day %>
                <% tasks.each do |task| %>
                    <div>
                        <%= link_to task.name, task_path(task) %>
                    </div>
                <% end %>
            <% end %>
        </div>
    <% end %>

    <% if logged_in? %>           
        <button class='ui button'>
            <%= link_to 'Edit Schedule', edit_schedule_path(@schedule) %>
        </button>
        <button class='ui button'>
            <%= link_to 'Create Task', new_schedule_task_path(@schedule) %>
        </button>
        <div class='ui button'>
            <%= link_to 'Delete Schedule', @schedule, method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    <% end %>
             


