<h2>Schedule for <%= @schedule.user.username %></h2>

    <h3>Schedule: <%= @schedule.name %></h3><br>

        <p>Schedule: <%= @schedule.schedule_type %></p><br>


<h3>Edit this schedule: <%= link_to @schedule.name, edit_schedule_path(@schedule) %></h3>

<h3>Back To User Profile: <%= link_to @schedule.user.username, user_path(@schedule.user) %></h3>