<h2><%= @client.contact.user.username %></h2>

<h3>Client: <%= @client.company_name %></h3><br>

<p>Company Address: <%= @client.company_address %></p>
<p>Company Contact: <%= @client.company_contact %></p>
<p>Photo: <%= @client.photo %></p>
<p>Contact Position: <%= @client.contact_position %></p>
<p>Work Phone: <%= @client.contact_work_phone %></p>
<p>Cell Phone: <%= @client.contact_cell_phone %></p>
<p>Email: <%= @client.contact_email %></p>
<p>Company Notes: <%= @client.company_notes %></p>
<p>Contact Notes: <%= @client.contact_notes %></p>
<p>Last Meeting: <%= @client.last_meeting %></p><br>

<p>Last Meeting Notes: <%= @client.last_meeting_notes %></p>

<h3>Edit this client: <%= link_to @client.company_name, edit_client_path(@client) %></h3>