
<%= form_for @contact do |f| %>

    <% if @contact.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@contact.errors.count, "error") %>
            prohibited this contact from being saved:
            </h2>
        
            <ul>
            <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
   
    <%= f.hidden_field :user_id, value: current_user.id %>

    <h3>Contact:</h3>

    <%= f.label :name %>
    <%= f.text_field :name %><br><br>

    <%= f.label :photo %>
    <%= f.text_field :photo %><br><br>              

    <%= f.label :contact_type %>
    <%= f.text_field :contact_type %><br><br>
    
    <%= f.label :relationship %>
    <%= f.text_field :relationship %><br><br>

    <%= f.label :home_phone %>
    <%= f.text_field :home_phone %><br><br>

    <%= f.label :cell_phone %>
    <%= f.text_field :cell_phone %><br><br>

    <%= f.label :work_phone %>
    <%= f.text_field :work_phone %><br><br>

    <%= f.label :personal_email %>
    <%= f.text_field :personal_email %><br><br>

    <%= f.label :work_email %>
    <%= f.text_field :work_email %><br><br>

    <%= f.label :home_address %>
    <%= f.text_field :home_address %><br><br>

    <%= f.label :work_address %>
    <%= f.text_field :work_address %><br><br>

    <%= f.label :contact_notes %>
    <%= f.text_area :contact_notes %><br><br>

    <%= f.fields_for :companies do |company| %>

        <h3>Company:</h3>

        <%= company.label :company_name %>
        <%= company.text_field :company_name %><br><br>

        <%= company.label :photo %>
        <%= company.text_field :photo %><br><br>

        <%= company.label :company_address %>
        <%= company.text_field :company_address %><br><br>
        
        <%= company.label :company_contact %>
        <%= company.text_field :company_contact %><br><br>

        <%= company.label :contact_position %>
        <%= company.text_field :contact_position %><br><br>

        <%= company.label :contact_work_phone %>
        <%= company.text_field :contact_work_phone %><br><br>

        <%= company.label :contact_cell_phone %>
        <%= company.text_field :contact_cell_phone %><br><br>

        <%= company.label :contact_email %>
        <%= company.text_field :contact_email %><br><br>

        <%= company.label :company_notes %>
        <%= company.text_area :company_notes %><br><br>

        <%= company.label :contact_notes %>
        <%= company.text_area :contact_notes %><br><br>

        <%= company.label :last_meeting %>
        <%= company.datetime_select :last_meeting, {:ampm => true} %><br><br>

        <%= company.label :last_meeting_notes %>
        <%= company.text_area :last_meeting_notes %><br><br>

    <% end %>

    <%= f.submit 'Submit' %>

<% end %>