<% if !params[:contact_type].blank? %>
    <% @contacts = @contacts.where(contact_type: params[:contact_type]) %>
<% end %>


<h2><%= @company.company_name %> Contacts:</h2>

    <ul>
        <% @contacts.each do |con| %>
            <li><%= link_to con.name, company_contact_path(con.company, con) %></li>
        <% end %>
    </ul>

    

    <div>
       <h3>Filter Contacts:</h3>
           <%= form_tag("/companies/#{@company.id}/contacts", method: "get") do %>
               <%= select_tag :contact_type, options_for_select(Contact.type, params[:contact_type]), include_blank: true %>
               <%= submit_tag "Filter" %>
           <% end %>
   </div>

    