<% if !params[:contact_type].blank? %>
    <% @contacts = @contacts.where(contact_type: params[:contact_type]) %>
<% end %>


<h3><%= @company.company_name if @company %> Contacts:</h3>
    <% if @company %>
        <div>
        <h4>Filter Contacts:</h4>
            <%= form_tag("/companies/#{@company.id}/contacts", method: "get") do %>
                <%= select_tag :contact_type, options_for_select(Contact.type, params[:contact_type]), include_blank: true %>
                <%= submit_tag "Filter" %>
            <% end %>
        </div>
    <% end %>

    <div class='ui blue segment contact-index-seg'>
        <ul>
            <% @contacts.each do |con| %>
                <div class='ui blue card'><%= link_to con.name, company_contact_path(con.company, con) %></div>
            <% end %>
        </ul>
    </div>

    

    

    