<h2>User: <%= @contact.user.username %></h2>

    <h3>Contact: <%= @contact.name %></h3><br>

    <p>Photo: <%= @contact.photo %></p>
    <p>Contact Type: <%= @contact.contact_type %></p>
    <p>Relationship: <%= @contact.relationship %></p>
    <p>Home Phone: <%= @contact.home_phone %></p>
    <p>Cell Phone: <%= @contact.cell_phone %></p>
    <p>Work Phone: <%= @contact.work_phone %></p>
    <p>Personal Email: <%= @contact.personal_email %></p>
    <p>Work Email: <%= @contact.work_email %></p>
    <p>Home Address: <%= @contact.home_address %></p>
    <p>Work Address: <%= @contact.work_address %></p><br>

    <p>Contact Notes: <%= @contact.contact_notes %></p>

    <h3>Edit this contact: <%= link_to @contact.name, edit_contact_path(@contact) %></h3>
    
   