<%= form_for [@company, @contact] do |f| %>

    <% if @company.errors.any? %>
        <div id="error_explanation">
            <h2>
            <%= pluralize(@company.errors.count, "error") %>
            prohibited this company from being saved:
            </h2>
        
            <ul>
            <% @company.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    
    <%= f.hidden_field :contact_id, value: @company.contact_id %><br><br>
    
    <%= f.label :company_name %>
    <%= f.text_field :company_name %><br><br>

    <%= f.label :photo %>
    <%= f.text_field :photo %><br><br>

    <%= f.label :company_address %>
    <%= f.text_field :company_address %><br><br>
    
    <%= f.label :company_contact %>
    <%= f.text_field :company_contact %><br><br>

    <%= f.label :contact_position %>
    <%= f.text_field :contact_position %><br><br>

    <%= f.label :contact_work_phone %>
    <%= f.text_field :contact_work_phone %><br><br>

    <%= f.label :contact_cell_phone %>
    <%= f.text_field :contact_cell_phone %><br><br>

    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %><br><br>

    <%= f.label :company_notes %>
    <%= f.text_area :company_notes %><br><br>

    <%= f.label :contact_notes %>
    <%= f.text_area :contact_notes %><br><br>

    <%= f.label :last_meeting %>
    <%= f.datetime_select :last_meeting %><br><br>

    <%= f.label :last_meeting_notes %>
    <%= f.datetime_select :last_meeting_notes %><br><br>

    <%= f.submit 'Submit company' %><br>
<% end %>

