<!DOCTYPE html>
<html>
    <head>
        <title>Nexus</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <div id='menu-container' class='ui two column centered middle aligned grid'>
            <div class='ui centered row'>
                <div class='ui centered column'>
                    <div class='ui blue segment menu-seg'>
                        <h1 align='center'>Nexus</h1>
                        <h3 align='center'><%= link_to 'New User Sign Up', new_user_path, class: 'ui button' %></h3> 
                        <h3 align='center'><%= link_to 'Existing User Sign In', '/signin', class: 'ui button' %></h3>                   
                        <div class='ui center aligned basic segment'> 
                            <button class='ui facebook button'>
                                <i class='facebook icon'></i>
                                <%= link_to('Log in with Facebook', '/auth/facebook', {:style => 'color: white;'}) %>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
        <h2 align='center'><%= flash[:error] %></h2>
    </body>
</html>